body {
  background-color: #ecf0f1;
}

.container {
  width: 1000px;
  margin: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #bdc3c7;
}
.sidebar {
  width: 400px;
  /* height: 600px; */
  float: left;
}

.content {
  width: 600px;
  /* height: 600px; */
  float: right;
}
.clear {
  clear: both;
}
#logo {
  float: left;
  width: 200px;
  height: auto;
  padding: 20px;
}
#logo img {
  max-width: 100%;
  height: auto;
}
#menu {
  padding: 60px 0;
  float: right;
  width: 760px;
}
#menu li {
  float: left;
  list-style: none;
  margin: 0 10px;
}
#menu li a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}

.blog__content {
  float: left;
  max-width: 200px;
  margin: 0 10px;
}

.blog__content img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.recent__article {
  padding: 0 10px;
}
.recent__article ul {
  list-style: none;
  text-decoration: none;
}
